---
title: 'liamamad.io'
description: 'Software Engineer and Co-founder of lootswap'
preloadImg: '/assets/images/landing.jpg'
permalink: '/posts/how-to-live-forever.html'
eleventyNavigation:
key: how-to-live-forever
order: 100
---

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Black.otf" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Bold.otf" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-ExtraBold.otf" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Medium.otf" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Inter-Regular.otf" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/assets/fonts/Mont-Heavy.ttf" crossorigin>

<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon.png">
<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
  if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
</script>
{% endblock %}
{% include "components/header.html" %}
{% block body %}

<main class="post">
  <h1 class="post-title">How to live forever</h1>
  <p class="post-date">
  Sat Jun 8 2024
  </p>
  <ol>
    <li>Why identity doesn't matter as much as we think it does</li> 
    <li>Our impact matters more</li>
    <li>How to impact others</li>
  </ol>
  <section>
    <p>
    One day, your name will be spoken for the last time. 
    Maybe your tombstone will be glanced at from time to time. 
    But after a while, your grave will be dug out and replaced by a  
    <i>Starbucks</i>.
    </p>

    <h3 style="text-decoration: underline;">Why identity doesn't matter as much as we think it does</h3>
    <p>
    Your carefully crafted 
    <a target="_blank" href="https://eternalisedofficial.com/2021/12/24/the-persona-carl-jung/"><i>persona</i></a>
    will turn to dust, and your worries
    and embarrassments will disappear too.
    </p>
    <em>
      <strong>
        The ephemeral nature of identity may suggest it's the least important part of you.
      </strong>
    </em>

    <p>It’s not that identity is unimportant or useless—as it serves a functional role in our society—but rather that our <strong>connections and contributions hold lasting significance</strong>.</p>
  </section>
  <section>
    <h3 style="text-decoration: underline;">Our impact matters more</h3>
    <p>In <a target="_blank" href="https://en.wikipedia.org/wiki/Carl_Jung">Jungian thought,</a> there is this idea of the 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Collective_unconscious">collective unconscious</a>. 
    It suggests that we are all interconnected through shared ideas and images. These shared ideas and
    images influence what we do, how we think, and how we feel.
    </p>
    <em>
      <strong>
    The actions, contributions, and legacies we leave behind ripple through the collective, impacting
    others in a way that transcends personal identity.
      </strong>
    </em>

    <p>
    Even the smallest of actions can have a butterfly effect and set off a chain of events
    that continues long after your self-image is gone.
    </p>
  </section>

  <section>
    <h3 style="text-decoration: underline;">How to impact others</h3>
    <em>One beautiful thing about life is that we all have the capacity to deeply impact
    those around us.</em>
    <p>
    No one likes to be told what to do. According to Carl Jung, people primarily change
    through <i>causal necessity</i>. 
    </p>

    <p>
    Jung suggests that personal growth and development are driven by necessity. None of us 
    change because we will it or because someone tells us to. We change because there is an inner or outer necessity that compels it. 
    </p>

    <p>
    This necessity can be a psychological need to achieve a sense of completeness, or external life
    circumstances that force you to adapt and grow. 
    </p>

    <p>So how do we induce causal necessity in others?</p>

    <strong><em>Work on yourself.</em></strong>

    <p>
    The process of working on yourself doesn’t just mean
    working hard in your career and maintaining your health, but also becoming more aware of your
    unique psychological makeup, embracing the good and bad aspects of 
    your psyche, and differentiating yourself from societal norms while still
    respecting them.
    </p>

    <p>While you can't directly impose causal necessity on others, you can definitely <i>catalyze it.</i></p>
    <p>
    <strong><u>Living by example:</u></strong> By being a living example of personal growth,
    we show others that change is possible and desirable. This can create a sense of necessity
    in their own lives, especially when they see the fruits of your journey.
    </p>

    <p>
    <strong><u>Inspire and mentor others:</u></strong> Sharing knowledge, 
    skills, and experiences with an open hand can have a massive impact. 
    Mentoring not only expands your expertise, but also empowers
    others to make their own contributions and feel valued. Teaching and mentoring create
    a profound impact on humanity as it encourages the behavior of <i><strong>passing it down.</strong></i>
    </p>

    <p>
    <strong><u>Build lasting relationships:</u></strong> Healthy long-term relationships can act
    as a method of delivery for change. By nurturing and being present for friends, family, and community, we can leave behind a legacy of love and support.
    </p>

    <p>
    <strong><u>Create and share art:</u></strong> Any form of self-expression can touch people's lives
    in ways that go beyond its creator. 
    </p>
  </section>
  <hr/>
  <section>
    <p>
      Attempting to immortalize your name through an inauthentic persona is futile. Instead, immortalize
      your essence by focusing your energy on making a meaningful impact.
    </p>
    <p>
      We often underestimate the impact of being a friend to call when things get rough, mentoring those
      in lower positions, and continuously working on ourselves.
    </p>

    <strong>Make action. Be forgotten.</strong>
  </section>

  <a href="/">Back to home</a>
</main>
{% endblock %}

