---
title: 'liamamad.io'
description: 'Software Engineer'
preloadImg: '/assets/images/landing.jpg'
permalink: '/posts/why-I-do-photography.html'
eleventyNavigation:
  key: why-I-do-photography
  order: 100
---

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Black.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Bold.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-ExtraBold.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Medium.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Regular.otf" crossorigin>
<link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Mont-Heavy.ttf" crossorigin>
<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon.png">
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>
{% endblock %}
{% include "components/header.html" %}
{% block body %}

<main class="post">
    <h1 class="post-title">Why I Do Photography and the Origins of Motivation</h1>
    <p class="post-date">
      Thursday, April 17, 2025
    </p>
  
    <ol>
      <li><a href="#journey">The Start of My Journey</a></li>
      <li><a href="#motivation">The Origins of Motivation</a></li>
      <li><a href="#thrill">The Thrill</a></li>
      <li><a href="#telos">Telos and Gravity</a></li>
      <li><a href="#inspiration">Inspiration — The Origin of Action</a></li>
      <li><a href="#expression">Expression — The Psychological Need to Integrate the Self</a></li>
    </ol>
  
    <!-- TODOs still open:
        - Add image
        - Thank the reader at the end
    -->
  
    <section id="journey">
      <p>
          In May, it will be five years since I started making photos. "Making," meaning I started consistently 
          going out into the world, trying to make something that looks cool. I would shoot photos for fun
          before then, but in the second semester of my freshman year of college, something clicked.
      </p>
    </section>
  
    <section>
      <p>
          I've only been able to stay consistent with a handful of things in my life — photography being one of them.
          I'm not entirely sure why, as there are things I wish I were more consistent in, like exercise or reading.
          Photography has been a constant in my life since I picked up my grandpa's <i>Minolta SRT 101</i>. At this
          point, it <i>exists as a layer on top of my life</i>. I don't really think about it too much anymore — it's
          just there. 
      </p>
    </section>
  
    <hr/>
  
    <section id="motivation">  
      <h3>The Origins of Motivation</h3>
      <p>
          Why does anyone do anything? I think this question is far more unanswerable than we think. It goes 
          beyond conscious understanding. We come up with reasons, but there will always be a disconnect.
          The reasons we give are just the tip of the iceberg — or simply fabrications.
      </p>
  
      <blockquote><strong>
          To fully understand why you are doing anything  
          is to know and grasp everything you have ever experienced within the context of your genetic makeup.
      </strong></blockquote>
  
      <p>
        But before we do, we must feel moved to. Could this go beyond material experience and DNA?  
        An origin beyond the self.
      </p>
  
      <span class="tooltip-container">
        <h3 style="margin-bottom: 0;">Enthousiasmos...</h3>
        <span class="tooltip-text">
          From Greek: <b>en</b> (in) + <b>theos</b> (god) —<br/> to be possessed by a god.
        </span>
      </span>
  
      <p>
        — a Greek word that literally means “possessed by god” (it's where we get the word <i>enthusiasm</i>!)  
        In ancient times, it was used in the context of poets and artists to describe their motivation 
        as being <i>divine in nature</i>. This makes sense — it’s only logical that the Creator would put in us a
        fire to create. One could say that our ability to create is a <i>transcendent property from God</i>.
      </p>
  
      <p>
          If someone were to ask me why I do photography at this very moment, this is what I would (inaccurately) say.
      </p> 
    </section>
  
    <hr/>
  
    <section id="thrill">
      <h3>The Thrill</h3>
      <p>
          It’s fun. But why is it fun?
      </p>
  
      <p>
          The thrill, the risk, the payoff of going into the world completely engrossed in my visual input — not knowing
          what I might find or who I may encounter. I submit myself to instinct, trusting my "eye" as I
          tap into the unconscious. Out of the many moments of time passing by me, I choose one of them to press
          the shutter button. The interval of time passes through me first — then into the camera. The choice to
          say yes to that moment tells me something about myself that I didn’t previously know.
      </p>
  
      <blockquote>
      <p><strong>
          It gives me an excuse to be somewhere I wouldn’t normally be.  
          To meet people I wouldn’t normally meet.
          </strong>
      </p>
      </blockquote>
  
      <p>
        One of my personal definitions of being alive is when I have a beautiful interaction with a stranger,
        with my camera being the catalyst. It fills me with an <i>enthusiasm</i> and energy that is unmatched
        by other experiences in my life (perhaps other than solving a hard problem after hours of frustration).
      </p>
  
      <p>
          The activity — and what it produces — is <i>deeply</i> satisfying to me.
          I do it almost entirely for myself and don’t need anyone to tell me or pay me to do it.
          I picked it up and didn’t need to try. It was being pulled out of me.
      </p>
    </section>
  
    <hr/>
  
    <section id="telos">
      <h3>Telos and Gravity</h3>
      <p>
          Teleology is the idea that things have an inherent purpose or end goal. I feel as though 
          my connection to photography goes beyond choice — like it’s a part of something inherent to me.
  
          <blockquote><strong>I do photography for the same reason a book falls when you drop it.</strong></blockquote>
          
          The book is moving to its natural place, which is the ground. Built into most things is some type of goal
          to do something (potential energy). An acorn’s telos is to become an oak tree; a knife’s telos is to cut
          things. Aristotle would say that <i>everything</i> has a telos. For whatever reason, my telos is to be
          into making photos. It’s not that that’s my entire life’s purpose, but it’s a part of the composite of my
          small mark on the universe. 
      </p>
    </section>
  
    <hr/>
  
    <section id="expression">
      <h3>Expression — The Psychological Need to Integrate the Self</h3>
      <p>
          Expression is proof we exist — the ultimate human journey.
      </p>
  
      <p>
          Maybe underneath all this spiritual mumbo-jumbo is simply a biological need to create. It can help us 
          attract mates and gather resources. Although there is some truth to it, <strong>this misses the majority of the picture.</strong>  
          When I’m creating for the sake of creating, it’s not about reproduction or resources. In fact, one could see it 
          as counterproductive to my evolutionary biology (since I could gain more resources and mates doing something else).
          If you look at life reductively, sure, everything has a biological origin. But I would argue that <strong>the 
              whole is greater than the sum of the parts.</strong>
      </p>
    </section>
  
    <a href="/">Back to home</a>
  </main>
  
{% endblock %}
