---
title: 'liamamad.io'
description: 'Software Engineer'
permalink: '/'
eleventyNavigation:
key: Home
order: 100
---

<!-- TODO: Make the head into its own component cause its the same code -->
{% block head %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H1N0HMTG1G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H1N0HMTG1G');
</script>
<link rel="stylesheet" href="/assets/css/local.css" />
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Black.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Bold.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-ExtraBold.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Medium.otf" crossorigin>
<link rel="preload" as="font" type="font/otf" href="/assets/fonts/Inter-Regular.otf" crossorigin>
<link rel="preload" as="font" type="font/ttf" href="/assets/fonts/Mont-Heavy.ttf" crossorigin>

<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon.png">

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
  if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
</script>
{% endblock %}

{% include "components/header.html" %}
{% block body %}
<main>
  <h2>Hey, my name is Liam Amadio.</h2>
  <section class='bio-container'>
      <p>
      I'm a NYC based software engineer. <br/>
      I love making photos, writing, and building
      software.
      </p>

      <strong>Contact</strong><p class='email'>liam at lootswap dot com</span></p>
      <p class="title">My digital footprint:</p>
      <ul>
        <li><a href="https://instagram.com/liamadio">Instagram (Photography)</a></li>
        <li><a href="https://www.linkedin.com/in/liam-amadio-0531591b9/">Linkedin</a></li>
        <li><a href="https://github.com/cnoott">Github</a></li>
      </ul>
  </section>

  <hr class="seperator">

  <section class="blog">
    <h2>Blog</h2>
    <ul>
      <li class="blog-post">
        <a href="/posts/my-nieces-art.html" style="text-decoration: none;">
            <h4 class="blog-title">My Nieces' Art and the Fundamental Forces of Human Behavior (Draft)</h4>
            <p class="blog-desc">On Jungian integration, conscious vs unconscious</p>
          <div>
          <p class="date">Sat Jun 08 2024</p>
        </a>
      </li>
      <li class="blog-post">
        <a href="/posts/how-to-live-forever.html" style="text-decoration: none;">
            <h4 class="blog-title">How to live forever</h4>
            <p class="blog-desc">On legacy, identity, and how to impact others</p>
          <div>
          <p class="date">Sat Jun 08 2024</p>
        </a>
      </li>
      <li class="blog-post">
        <a href="/posts/coding-and-writing.html" style="text-decoration: none;">
            <h4 class="blog-title">The Relationship Between Coding and Writing</h4>
            <p class="blog-desc">On iteration, structure, clarity, and soul</p>
          <div>
          <p class="date">Sat Jun 17 2024</p>
        </a>
      </li>
    </ul>
  </section>
</main>
{% endblock %}
